// bootstrap
@import "~bootstrap/dist/css/bootstrap.min.css";
// 阿里云字体库
@import url('//at.alicdn.com/t/c/font_4376427_ufontygslae.css');
// elementUI
@import "element-plus/dist/index.css";

.all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
